@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Chương trình đào tạo chính quy</h1>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-lg">Học kì I năm học 2022</button>
    </div>
</div>